doctype html
html
  head
    title Our Services
    link(rel="stylesheet", href="/style.css")
  body
    nav
      a(href="/") Home
      a(href="/services") Our Services
      a(href="/contact") Contact Us
    .container
      h1 Our Services
      p We provide excellent IT and consulting services.